@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  transition: 0.3s;
}

body {
  background: hsl(0deg, 0%, 100%);
}

.container {
  width: 75vw;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid hsl(220deg, 14%, 75%);
  box-sizing: border-box;
}
nav #menu {
  display: none;
}
nav #logo {
  margin-right: 1rem;
}
nav .menu-outer {
  padding: 0;
  flex: 1;
}
nav .menu-inner {
  margin: 0;
  padding: 0;
}
nav #close {
  display: none;
}
nav ul#menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
nav ul#menu-list li {
  font-size: 16px;
  font-weight: 400;
  color: hsl(219deg, 9%, 45%);
  padding: 3rem 0;
  margin: 0;
  margin-left: 2rem;
  border-bottom: solid 3px transparent;
}
nav ul#menu-list li:hover {
  border-bottom: solid 4px hsl(26deg, 100%, 55%);
  color: #2f2f31;
  cursor: pointer;
}
nav #menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav #menu-info div:first-child {
  margin-right: 2rem;
}
nav #menu-info #cart {
  position: relative;
  cursor: pointer;
}
nav #menu-info #item-num {
  display: none;
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  border-radius: 16px;
  background: hsl(26deg, 100%, 55%);
  font-size: 0.6rem;
  color: hsl(0deg, 0%, 100%);
  padding: 0.1rem 0.5rem;
}
nav #menu-info #user-thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
}
nav #menu-info #user-thumbnail:hover {
  outline: 2px solid orange;
}
nav #menu-info #user-thumbnail img {
  position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#cart-state {
  display: none;
  background-color: hsl(223deg, 64%, 98%);
  position: absolute !important;
  right: 5rem !important;
  top: 6rem !important;
  border-radius: 0.7rem;
  box-shadow: 0px 24px 35px -14px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 24px 35px -14px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 24px 35px -14px rgba(0, 0, 0, 0.4);
  min-width: 15rem;
}
#cart-state #cart-header {
  padding: 1.8rem 1.2rem;
  border-bottom: solid 0.1px hsl(220deg, 14%, 75%);
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
#cart-state #cart-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  align-items: center;
}
#cart-state #cart-info {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
}
#cart-state #product-img {
  width: 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
}
#cart-state #product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
  margin: 0;
  border-radius: 5px;
}
#cart-state #product-info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 0;
}
#cart-state #product-info #product-name {
  font-size: 16px;
  white-space: nowrap;
  padding-bottom: 0;
  margin-bottom: 0;
  color: hsl(219deg, 9%, 45%);
}
#cart-state #product-info #product-price {
  margin-top: 0.5rem;
  color: hsl(219deg, 9%, 45%);
}
#cart-state #product-info #product-price #total {
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
}
#cart-state #delete {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  cursor: pointer;
}
#cart-state #checkout-btn {
  width: 100%;
  padding: 1.2rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  border-radius: 0.7rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#cart-state #empty-cart {
  padding: 4rem 6rem;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 6rem;
  width: 70vw;
  margin: auto;
  padding-top: 5rem;
}

#left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
#left-container #left-main-pic {
  width: 100%;
  margin-bottom: 2rem;
}
#left-container #left-main-pic:hover {
  cursor: pointer;
}
#left-container #left-main-pic #left-main {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
#left-container #left-main-pic #left-right-arow {
  display: none;
}
#left-container #left-main-pic #left-left-arow {
  display: none;
}
#left-container #left-thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#left-container #left-thumbnail .left-img-thumb {
  width: 25%;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
}
#left-container #left-thumbnail .left-img-thumb:hover {
  cursor: pointer;
}
#left-container #left-thumbnail .left-img-thumb:not(:last-child) {
  margin-right: 2rem;
}
#left-container #left-thumbnail .left-img-thumb img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
}
#left-container #left-thumbnail .left-img-thumb img:hover {
  opacity: 0.5;
}
#left-container #modal-outer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0deg, 0%, 0%, 0.7);
  z-index: 0;
  overflow-y: auto;
}
#left-container #modal-outer #modal-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 7rem auto 0 auto;
  z-index: 1;
}
#left-container #modal-outer #modal-intro #modal-main-pic {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}
#left-container #modal-outer #modal-intro #modal-main-pic #close-modal {
  position: absolute;
  top: -2.5rem;
  right: 0;
}
#left-container #modal-outer #modal-intro #modal-main-pic #close-modal img {
  filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #close-modal img:hover {
  cursor: pointer;
  filter: invert(66%) sepia(76%) saturate(4310%) hue-rotate(348deg) brightness(106%) contrast(101%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-left-arow {
  position: absolute !important;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding-top: 0.9rem;
  padding-left: 1rem;
  margin: 0;
  left: -1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-left-arow:hover {
  cursor: pointer;
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-left-arow:hover img {
  filter: invert(66%) sepia(76%) saturate(4310%) hue-rotate(348deg) brightness(106%) contrast(101%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-left-arow img {
  margin: auto;
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-right-arow {
  position: absolute !important;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 1.2rem;
  margin: 0;
  right: -1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-right-arow:hover {
  cursor: pointer;
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-right-arow:hover img {
  filter: invert(66%) sepia(76%) saturate(4310%) hue-rotate(348deg) brightness(106%) contrast(101%);
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-right-arow img {
  margin: auto;
}
#left-container #modal-outer #modal-intro #modal-main-pic #modal-main img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
  border-radius: 15px;
}
#left-container #modal-outer #modal-intro #modal-thumbnail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
#left-container #modal-outer #modal-intro .modal-img-thumb {
  width: 20%;
  border-radius: 15px;
  overflow: hidden;
  height: auto;
  background-color: hsl(0deg, 0%, 100%);
}
#left-container #modal-outer #modal-intro .modal-img-thumb img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
}
#left-container #modal-outer #modal-intro .modal-img-thumb img:hover {
  opacity: 0.5;
}

#right-container {
  padding: 3rem 1rem 3rem 1rem;
}
#right-container #comp-name {
  font-size: 14px;
  letter-spacing: 2px;
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
}
#right-container h1 {
  margin-top: 0;
  font-size: 2.8rem;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
#right-container #prod-desc {
  font-size: 16px;
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
  margin-bottom: 2rem;
}
#right-container #price {
  display: flex;
  flex-direction: column;
}
#right-container #price #new-price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#right-container #price #new-price:first-child {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
#right-container #price #new-price span#discount {
  font-size: 16px;
  color: hsl(26deg, 100%, 55%);
  margin-left: 1.3rem;
  font-weight: 700;
  padding: 4px 10px;
  background: hsl(25deg, 100%, 94%);
  border-radius: 7.5px;
}
#right-container #price #old-price {
  font-size: 16px;
  color: hsl(220deg, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}
#right-container #add-to-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
#right-container #add-to-card #add-product {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 7.5px;
}
#right-container #add-to-card #add-product #minus {
  margin-top: -0.3rem;
  cursor: pointer;
}
#right-container #add-to-card #add-product #plus {
  cursor: pointer;
}
#right-container #add-to-card #add-product #amount {
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 16px;
}
#right-container #add-to-card #add-btn {
  flex: 2;
  width: 100%;
  padding: 0.3rem;
  margin-left: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(26deg, 100%, 55%);
  cursor: pointer;
  border-radius: 7.5px;
}
#right-container #add-to-card #add-btn #cart-icon img {
  filter: invert(8%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}
#right-container #add-to-card #add-btn #add-text {
  margin-left: 1rem;
  color: hsl(0deg, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
}

/* //////////////////// */
/* //////////1270px ==========> 1200px */
@media screen and (max-width: 1270px) and (min-width: 1200px) {
  #right-container {
    padding: 0 1rem 3rem 1rem;
  }
}
/* //////////////////// */
/* //////////1025px ==========> 1200px */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .container {
    width: 80vw;
  }
  li {
    padding: 1.8rem 0;
  }
  #cart-state {
    right: 4rem !important;
    top: 6rem !important;
  }
  main {
    grid-gap: 5rem !important;
  }
  #right-container {
    padding: 0 1rem 3rem 1rem;
  }
  h1 {
    font-size: 2.3rem !important;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
}
/* //////////851px ==========> 1024px */
@media screen and (max-width: 1024px) and (min-width: 851px) {
  .container {
    width: 80vw;
  }
  #logo {
    margin-right: 0.8rem;
  }
  li {
    padding: 1.5rem 0;
    margin-left: 1.6rem !important;
  }
  #menu-info div:first-child {
    margin-right: 1.5rem;
  }
  #cart-state {
    right: 2rem !important;
    top: 6rem !important;
  }
  main {
    grid-gap: 4rem !important;
  }
  #right-container {
    padding: 0 1rem 1.5rem 1rem;
  }
  h1 {
    font-size: 1.8rem !important;
    margin-bottom: 0;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #prod-desc {
    margin-bottom: 1.5rem !important;
  }
  #add-to-card {
    margin-top: 1.5rem !important;
  }
  #add-btn {
    padding: 0.2rem !important;
  }
  #add-btn #add-text {
    font-size: 14px !important;
  }
  #new-price:first-child {
    font-size: 1.5rem !important;
  }
}
/* //////////769px ==========> 851px */
@media screen and (max-width: 850px) and (min-width: 769px) {
  .container {
    width: 85vw;
  }
  #logo {
    margin-right: 0rem !important;
  }
  li {
    padding: 1.5rem 0 !important;
    font-size: 14px !important;
    margin-left: 1.5rem !important;
  }
  #menu-info div:first-child {
    margin-right: 1.4rem !important;
  }
  #user-thumbnail {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  #cart-state {
    right: 0rem !important;
    top: 4rem !important;
  }
  main {
    grid-gap: 4rem !important;
    padding-top: 2rem;
  }
  #right-container {
    padding: 0 1rem 1.5rem 1rem;
  }
  #comp-name {
    letter-spacing: 1px !important;
  }
  h1 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #prod-desc {
    margin-bottom: 1.5rem !important;
    font-size: 14px !important;
  }
  #add-to-card {
    margin-top: 1.5rem !important;
  }
  #add-btn {
    padding: 0.2rem !important;
  }
  #add-btn #add-text {
    font-size: 14px !important;
  }
  #new-price:first-child {
    font-size: 1.5rem !important;
  }
}
/* /////////////////////// */
/* //////////600px ==========> 768px */
@media screen and (max-width: 768px) and (min-width: 600px) {
  .container {
    width: 92vw;
  }
  #logo {
    margin-right: 0rem !important;
  }
  li {
    padding: 1.5rem 0 !important;
    font-size: 14px !important;
    margin-left: 1rem !important;
  }
  #menu-info div:first-child {
    margin-right: 0.5rem !important;
  }
  #user-thumbnail {
    width: 2rem !important;
    height: 2rem !important;
  }
  #cart-state {
    right: 0rem !important;
    top: 4rem !important;
  }
  main {
    grid-gap: 4rem !important;
    padding-top: 2rem;
  }
  #right-container {
    padding: 0 1rem 1.5rem 1rem;
  }
  #comp-name {
    letter-spacing: 1px !important;
  }
  h1 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #prod-desc {
    margin-bottom: 1.5rem !important;
    font-size: 14px !important;
  }
  #add-to-card {
    margin-top: 1.5rem !important;
  }
  #add-btn {
    padding: 0.2rem !important;
  }
  #add-btn #add-text {
    font-size: 14px !important;
  }
  #new-price:first-child {
    font-size: 1.5rem !important;
  }
}
/* /////////////////////// */
/* //////////481px ==========> 599px */
@media screen and (max-width: 599px) {
  .container {
    width: 100vw;
  }
  nav {
    padding: 1.2rem 1.5rem;
  }
  #menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu {
    display: block !important;
    cursor: pointer;
    margin-right: 1rem;
  }
  #menu-info div:first-child {
    margin-right: 1.4rem !important;
  }
  #user-thumbnail {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  #menu-outer {
    display: block !important;
  }
  #menu-outer .menu-inner {
    width: 80% !important;
  }
  .menu-outer {
    display: none !important;
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    background: hsla(0deg, 0%, 0%, 0.7);
    z-index: 1;
    left: 0;
    top: 0;
  }
  .menu-outer .menu-inner {
    margin: 0;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background: hsl(0deg, 0%, 100%);
    overflow-x: hidden;
  }
  .menu-outer #close {
    display: block;
    margin: 1rem 0 2rem 1.3rem;
  }
  .menu-outer ul#menu-list {
    flex-direction: column !important;
  }
  .menu-outer li {
    margin-left: 0 !important;
    padding: 0.5rem 0 0.5rem 1.3rem !important;
    font-weight: 700 !important;
    color: hsl(220deg, 13%, 13%) !important;
  }
  #menu-info {
    z-index: 0 !important;
  }
  #cart-state {
    right: 0rem !important;
    top: 3.5rem !important;
    min-width: 5rem !important;
  }
  main {
    grid-gap: 4rem !important;
    padding-top: 2rem;
    width: 90vw !important;
  }
  #right-container {
    padding: 0 1rem 1.5rem 1rem;
  }
  #comp-name {
    letter-spacing: 1px !important;
  }
  h1 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #left-main-pic {
    margin-bottom: 1.5rem !important;
  }
  #modal-outer #modal-intro {
    width: 70vw !important;
  }
  #prod-desc {
    margin-bottom: 1.5rem !important;
    font-size: 14px !important;
  }
  #add-to-card {
    margin-top: 1.5rem !important;
  }
  #add-btn {
    padding: 0.2rem !important;
  }
  #add-btn #add-text {
    font-size: 14px !important;
  }
  #new-price:first-child {
    font-size: 1.5rem !important;
  }
}
/* /////////////////////// */
/* //////////320px ==========> 480px */
@media screen and (max-width: 480px) and (min-width: 200px) {
  #cart-state {
    right: 2.5vw !important;
    top: 4.5rem !important;
    min-width: 5rem !important;
    width: 95vw;
    z-index: 1;
  }
  #cart-state #cart-header {
    padding: 1.2rem 0.8rem !important;
    font-size: 14px;
  }
  #cart-state #cart-content {
    padding: 0.5rem 1.2rem 1rem !important;
    width: 100%;
  }
  #cart-state #cart-container {
    width: 100%;
  }
  #cart-state #cart-info {
    margin: 0 0 1rem 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #cart-state #product-img {
    width: 2.5rem !important;
  }
  #cart-state #product-info {
    margin: 0 1rem 0 -0.2rem !important;
  }
  #cart-state #delete {
    margin-right: 0;
  }
  #cart-state #checkout-btn {
    padding: 0.9rem !important;
    border-radius: 7.5px;
  }
  main {
    grid-gap: 0rem !important;
    padding-top: 0;
    width: 100vw !important;
  }
  #left-thumbnail {
    display: none !important;
  }
  #right-container {
    padding: 0.5rem 1rem 1.5rem 1rem;
  }
  #comp-name {
    letter-spacing: 1px !important;
    font-weight: 700 !important;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
  }
  #left-container {
    margin: 0;
    padding: 0;
  }
  #left-main-pic {
    margin: 0 !important;
    height: 50vh;
    position: relative;
  }
  #left-main-pic #left-left-arow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  #left-main-pic #left-left-arow:hover {
    cursor: pointer;
  }
  #left-main-pic #left-left-arow:hover img {
    filter: invert(66%) sepia(76%) saturate(4310%) hue-rotate(348deg) brightness(106%) contrast(101%);
  }
  #left-main-pic #left-left-arow img {
    margin: auto;
    width: 0.5rem;
  }
  #left-main-pic #left-right-arow {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  #left-main-pic #left-right-arow:hover {
    cursor: pointer;
  }
  #left-main-pic #left-right-arow:hover img {
    filter: invert(66%) sepia(76%) saturate(4310%) hue-rotate(348deg) brightness(106%) contrast(101%);
  }
  #left-main-pic #left-right-arow img {
    margin: auto;
    width: 0.5rem;
  }
  #left-main-pic #left-main {
    border-radius: 0px !important;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #prod-desc {
    margin-bottom: 1.5rem !important;
    font-size: 14px !important;
  }
  #price {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center !important;
  }
  #price #new-price {
    margin-bottom: 0 !important;
  }
  #price #new-price:first-child {
    font-size: 1.5rem !important;
  }
  #add-to-card {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }
  #add-to-card #add-btn {
    padding: 0.2rem !important;
    margin: 0 !important;
  }
  #add-to-card #add-btn #add-text {
    font-size: 14px !important;
  }
  #add-to-card #add-product {
    padding: 0 1rem;
    margin: 0 0 1rem 0;
  }
}
.active {
  outline: solid 3px hsl(26deg, 100%, 55%);
}
.active img {
  opacity: 0.3;
}

.back #left-main-pic {
  position: "initial";
}/*# sourceMappingURL=style.css.map */